.jpmobile {
  position: relative;
  left: 65px;
  top: 130px;
  max-width: 400px;
  max-height: 250px;
  padding: 0px;
  margin: 0px;
}

.plusIcon2 {
  position: relative;
  left: -135px;
  top: 70px;
  color: #dadada;
}

.plusIcon2:hover {
  color: black;
}
