.jpmobileContent {
	display: flex;
}

.jpmobile {
	display: flex;
	position: relative;
	left: 95px;
	top: 90px;
	padding: 0px;
	margin: 0px;
}

.plusIcon2 {
	position: absolute;
	top: 70px;
	left: -40px;
	color: #dadada;
}

.plusIcon2:hover {
	color: black;
}
