@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap'rel='stylesheet');

.restaurantTitle {
	display: flex;
	position: relative;
	top: 455px;
	font-family: 'Crimson Text', serif;
	color: #fec9a9;
	font-size: 38px;
	font-weight: 400;
	font-style: normal;
	line-height: 58px;
	letter-spacing: -0.016em;
}
