.jpmobileContent {
	display: flex;
}

.jpmobile {
	display: flex;
	position: ;
	left: 65px;
	top: 130px;
	padding: 0px;
	margin: 0px;
}

.plusIcon2 {
	position: relative;
	top: 70px;
	left: 100px;
	color: #dadada;
}

.plusIcon2:hover {
	color: black;
}
