@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap'rel='stylesheet');

#bottom-pages {
	display: flex;
	position: absolute;
	left: 150px;
}

.btn-outline-dark {
	border-color: black;
}

.page-button {
	color: black;
	width: 30px;
	font-family: 'Nunito Sans', sans-serif;
}

.page-button:hover {
	text-decoration: none;
	color: white;
}
