@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap'rel='stylesheet');

ul {
	padding: 0px;
	margin: 0px;
}

#bottom-pages {
	display: flex;
}

.btn-outline-dark {
	color: black;
	border-color: black;
}

.page-button {
	color: black;
	width: 30px;
	font-family: 'Nunito Sans', sans-serif;
}

.page-button:hover {
	text-decoration: none;
	color: white;
}
