@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap'rel='stylesheet');

.bottom-pages {
	display: flex;
	position: relative;
	top: -10px;
	left: 150px;
	width: 250px;
}

.btn-outline-dark {
	border-color: black;
}

.page-button {
	color: black;
	width: 30px;
	font-family: 'Nunito Sans', sans-serif;
}

.page-button:hover {
	text-decoration: none;
	color: white;
}

@media screen and (max-width: 480px) {
	.bottom-pages {
		left: 20%;
	}
}
