.emailInput {
  position: relative;
  left: 20px;
  top: 45px;
  background-color: transparent;
  width: 295px;
  height: 35px;
  border: 0.5px solid #000000;
  border-radius: 17px;
  font-size: 12px;
  text-align: left;
  text-indent: 15px;
}

.button {
  border-radius: 70px;
}

.avocadoIcon {
  position: relative;
  left: 65px;
  top: 52px;
  width: 35px;
  height: 35px;
}

.infoIcon {
  position: relative;
  left: 30px;
  top: 52px;
  width: 35px;
  height: 35px;
}
