@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap'rel='stylesheet');

.header {
	text-align: left;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 18px;
	line-height: 25px;
	display: flex;
	align-items: flex-end;
	letter-spacing: -0.016em;
	color: #000000;
	margin: 5px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin: 0px;
}

.side {
	flex: 50%;
	padding: 0px;
	margin: 20px;
}

.footer {
	margin: 0px;
	padding: 0px;
	text-align: center;
}
